body{
	background: url("https://cdn.wallpapersafari.com/61/24/6L3fOz.jpg");
}

li{
	font-size:40px;
	color: #000000;
	text-decoration: none;
}

div{
	color: #000000;
	text-decoration:none;
}

a{
	color: #000000;
	text-decoration:none;
}
